# This python script is to import csv from dataharianbei.com to sqlite

### import necessary library

In [9]:
import pandas as pd
import os
import sqlite3
from pandas.io import sql as pd_sql

### Get list of csv from directory

In [10]:
import os
list_file = os.listdir("/Users/pinkracket/Documents/data/stock/")

### read all the csv files from directory and import to dataframe

In [11]:
full_df = pd.DataFrame()
for each in list_file:
    str1 = "/Users/pinkracket/Documents/data/stock/"+each
    day_df = pd.read_csv(str1)
    full_df = full_df.append(day_df,ignore_index = True)

### connect to database

In [12]:
def create_connection(db_file):
    """ create a database connection to the SQLite database
        specified by db_file
    :param db_file: database file
    :return: Connection object or None
    """
    try:
        conn = sqlite3.connect(db_file)
        return conn
    except Error as e:
        print(e)
 
    return None

In [13]:
conn = create_connection('/Users/pinkracket/Documents/data/stock.db')

### insert the dataframe into database

In [14]:
full_df.to_sql('stock', conn)

### create stock table in database ; this is just code to create table in sqlite db
### however, I do not know thy it does not work

In [6]:
def create_table(conn, create_table_sql):
    """ create a table from the create_table_sql statement
    :param conn: Connection object
    :param create_table_sql: a CREATE TABLE statement
    :return:
    """
    try:
        c = conn.cursor()
        c.execute(create_table_sql)
    except Error as e:
        print(e)

In [7]:
sqlstr = """CREATE TABLE IF NOT EXISTS stock (
                                    <date> text NOT NULL,
                                    <ticker> text NOT NULL,
                                    <open> real NOT NULL,
                                    <high> real NOT NULL,
                                    <low> real NOT NULL,
                                    <close> real NOT NULL,
                                    <volume> integer NOT NULL
                                );"""

In [8]:
create_table(conn, sqlstr)

NameError: name 'Error' is not defined